<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
    <!-- for文を用いてlistを表形式で出力 -->
    <h1>{{title}}</h1>
    <table border="1">
        <tr>
            {% for item in schema %}
            <th>{{item}}</th>
            {% endfor %}
        </tr>
        {% for tuple in table %}
        <tr>
            {% for item in tuple %}
            <td>{{item}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
</body>

</html>
